.form-item-wrapper {
    display:flex;
    flex-direction:column;
    gap:4px;
    background-color:grey;
}
.form-item-title {
    display:block;
    font-size: 16px;
    font-weight: bold;
    margin:4px;
    background-color: transparent;
    
}

.form-item-element {
    margin:4px;
    display:block;

}

.form-item-input{
    display:block;
    margin:4px;
    background-color:#A0A0A0;
}